<!DOCTYPE HTML>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>CHUCK NORRIS</title>
    <meta name="description" content="Chuck Norris jokes ;)" />
    <meta name="viewport" content="width=device-width" />

    <link rel="apple-touch-icon" sizes="180x180" href="/files/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/files/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/files/favicon/favicon-16x16.png">
    <link rel="manifest" href="/files/favicon/site.webmanifest">
    <link rel="mask-icon" href="/files/favicon/safari-pinned-tab.svg" color="#d2722b">
    <link rel="shortcut icon" href="/files/favicon/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="CHUCK NORRIS">
    <meta name="application-name" content="CHUCK NORRIS">
    <meta name="msapplication-TileColor" content="#0d0d0d">
    <meta name="msapplication-config" content="/files/favicon/browserconfig.xml">
    <meta name="theme-color" content="#0d0d0d">
    
    <link rel="stylesheet" href="/files/css/index.css" />
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div id="jokeDiv"><img src="/files/img/chuck-norris.png" /><p id="joke"></p></div>
    <button id="new_joke">NOUVELLE BLAGUE</button>

    <img id="chuckSign" src="/files/img/chuck-norris_signature_beige.svg" title="Nobody is perfect. Nobody est un des surnoms de Chuck Norris."/>
    <script src="/files/views_js/index.js"></script>
  </body>
</html>
